<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denvv Developer Portfollio</title>
    <link rel="stylesheet" href="../Css/txts.css">
    <link rel="shortcut icon" href="../Img/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="loader"></div>
    <div class="container">
        <nav>
            <div class="logo">denvv<p id="logo-dot">.</p></div>
            <ul class="navItems">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="./txts.html">TxTs</a></li>
            </ul>
            <div class="links">
                <a target="_blank" href="https://www.youtube.com/channel/UC2G4ZNI7CVhrQkkXfV4X9gw"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <button onclick="showDiscordNotification()"><i class="fa-brands fa-discord"></i></button>
            </div>
        </nav>

        <div class="wrapper--hidden wrapper">
            <div class="alert alert--hide">
                <i class="fa-solid fa-circle-info" id="alert-icon"></i>
                <span class="msg">Discord: denvv#8338</span>
                <button onclick="hideByUser()" class="close-btn">
                    <i class="fa-solid fa-circle-xmark" id="close-icon"></i>
                </button>
            </div>
            <div class="cols cols0">
                <h1>denvv Rapy.PL</h1>
                <span class="topline">Najnowszy texturepack od denvv!</span>
                <p>Najlepszy texturepack do gry Minecraft na serwerze Rapy.PL tryb BoxPVP. TXT posiada funckje pokazywania zbroi użytkownika, oraz pokazywanie jakiego miecza lub kilofa używa przeciwnik.</p>
            </div>
            <div class="cols cols1">
                <div class="imgbox">
                    <img src="../Download/Imgs/denvvTXT.png">
                </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://kit.fontawesome.com/31c07e75b6.js" crossorigin="anonymous"></script>
    <script src="../JS/txts.js"></script>

</body>